#ready zsh configs
alias zshrc='cat ~/.zshrc'
alias zshalias='cat ~/.oh-my-zsh/zsh.aliases'

#edit zsh config files
alias vzshrc='vi ~/.zshrc'
alias vohmyzsh='vi ~/.oh-my-zsh/oh-my-zsh.sh'

#useful aliases
alias nbi='npm install && bower install'
alias vi=vim
alias hsi='history | grep -i '

#more git aliases for rebase triangular flow
function git_branch_upstream_master() {
  git checkout -b $1 upstream/master
}
alias gub='git_branch_upstream_master'
alias gur='gup'

#visual studio code editor
alias vsc=code
alias vscode=code

#git prune
function git_prune() {
  if [ -z $1 ];
  then
    git branch -r --merged | grep -v master | sed 's/upstream\///' | xargs git branch -d | xargs -n 1 git push --delete origin
  else
    git branch -r --merged | grep -v master | sed 's/$1\///' | xargs git branch -d | xargs -n 1 git push --delete origin
  fi;
}
alias gprune='git_prune'

#git rename
alias grename='git branch -m $1'
